.lands-section-container {
  background: url("../../assets/images/sectionImg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 6.5rem;
}

.lands-section-heading {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  height: 6rem;
  justify-content: space-around;

  border-radius: 20px;
  width: 85%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* Color & Background */
  background-color: rgba(29, 150, 215, 1);
  background-image: url("../../assets/images/background-main-stars.avif");
  background-position: 0% 0%;
  background-repeat: repeat-x;
}

.heading {
  text-align: center;
  color: whitesmoke;
  letter-spacing: 0.15rem;
}

.refresh-btn {
  text-align: center;
  width: 6.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  transition: all 250ms ease;
}

.refresh-btn:hover {
  transform: scale(1.1);
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(29, 150, 215, 1);
  background-image: url("../../assets/images/background-main-stars.avif");
  background-position: 0% 0%;
  background-repeat: repeat-x;
}

.table {
  width: 80%;
  margin: 20px auto;
}

.table {
  min-height: 120px;
}

.ride-info:nth-child(2) .ride-name {
  border-radius: 20px 0 0 0;
}

.ride-info:nth-child(2) .last-updated {
  border-radius: 0 20px 0 0;
}

tbody:last-child td:first-child {
  border-radius: 0 0 0 20px;
}

tbody:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

.single-row-table .ride-name {
  border-radius: 20px 0 0 20px !important;
}

.single-row-table .last-updated {
  border-radius: 0 20px 20px 0 !important;
}

.table th {
  background: rgba(29, 150, 215, 1);
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

.table td {
  background: rgba(28, 70, 142, 1);
  color: whitesmoke;
  letter-spacing: 0.1rem;
}

.ride-name {
  width: 25%;
  text-align: left;
  padding: 0.8rem;
}

.ride-open,
.ride-closed {
  width: 10%;
  text-align: center;
}

.ride-closed {
  color: rgb(207, 70, 70) !important;
  font-size: 1.6rem;
}

.ride-open {
  color: rgb(53, 198, 53) !important;
  font-size: 1.6rem;
}

.wait-time {
  width: 10%;
  text-align: center;
  font-size: 1.6rem;
}

.wait-time > h3 {
  font-size: 0.9rem;
}

.wait-time-closed {
  color: rgb(207, 70, 70) !important;
}

.wait-time-low {
  color: rgb(53, 198, 53) !important;
}

.wait-time-med {
  color: rgb(237, 237, 19) !important;
}

.wait-time-high {
  color: rgb(207, 70, 70) !important;
}

.last-updated {
  width: 10%;
  text-align: center;
  font-size: 0.9rem;
}
