.card {
  padding: 1rem 1.6rem;
  border-radius: 20px;
  background: rgb(137, 137, 137);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "Card-Image"
    "Card-Text";
}

.card-text {
  justify-self: center;
  align-self: center;
  grid-area: Card-Text;
  width: 100%;
  font-size: 22px;
}

.card-image {
  justify-self: center;
  align-self: center;
  grid-area: Card-Image;
  object-fit: contain;
  width: 15.6rem;
  height: 15.6rem;
  border-radius: 50%;
  padding: 14%;
  overflow: visible;
  background: #ffffff;
}
