.card {
  border-radius: 20px;
  flex: 1;
  text-align: center;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  /* Color & Background */
  background-color: rgba(29, 150, 215, 1);
  background-image: url("../../assets/images/background-main-stars.avif");
  background-position: 0% 0%;
  background-repeat: repeat-x;
}

.image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: whitesmoke;
  justify-content: center;
  display: flex;
  align-items: center;
}

.card-image {
  width: 70%;
}

.card-text {
  margin-top: 20px;
  font-size: 22px;
  color: whitesmoke;
  letter-spacing: 0.15rem;
}
