.parks-section-container {
  background: url("../../assets/images/sectionImg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 6.5rem;
}

.parks-section-heading {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: space-around;

  border-radius: 20px;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* Color & Background */
  background-color: rgba(29, 150, 215, 1);
  background-image: url("../../assets/images/background-main-stars.avif");
  background-position: 0% 0%;
  background-repeat: repeat-x;
}

.parks-section-heading h2,
h4 {
  text-align: center;
  justify-self: center;
  max-width: 350px;
  color: whitesmoke;
  letter-spacing: 0.15rem;
}
