.parks-section-container {
  background: url("../../assets/images/sectionImg.jpg");
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 1fr 3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas:
    ". Navbar ."
    ". Heading ."
    ". Cards-Container .";
}

.parks-section-heading {
  grid-area: Heading;
  display: grid;
  justify-content: center;
  align-content: center;
}

.parks-cards-container {
  width: 100%;
  grid-area: Cards-Container;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.parks-section-heading h2,
h4 {
  color: dimgray;
  text-align: center;
  justify-self: center;
}

.parks-section-heading h4 {
  max-width: 275px;
  padding-top: 0.8rem;
}
