/* Clean up*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body,
.root {
  margin: 0;
  font-family: "Irish Grover", system-ui;
  font-weight: 200;
  font-style: normal;
}
